/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap'); */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(209, 206, 206);    
}

h6{
    font-size: 15px;
    color: #331313;

}


.quizzTitle{
    text-align: center;
}
.login{
  border: 1px solid rgb(87, 87, 57);
  border-radius: 5px;

 
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 75px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: small;
}

.link{
     text-decoration: none;
     margin:0 10px ;
     color: rgb(218, 17, 17);
     font-size: 15x;
     cursor: pointer;
     padding: 10px 20px;
    list-style: none;   

}
.link:hover {
    text-decoration: none;
    color: rgb(207, 56, 56);
    
}
.logoutLink{
    background:none;
    border:none
}
.footer-wrapper{
    margin-top: 4rem;

}
.footer {
   
   width:100%;
   height:50px;   /* Height of the footer */
    background-color: rgb(209, 206, 206);
   text-align: center;
   margin: auto;
   padding-top: 0.75rem;
}

.logo{
    width: 100x;
    height: 50px;
    margin-bottom: 1.5rem;

}
