* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(95, 13, 13);
}

a {
  text-decoration: inherit;
  color: inherit;
}
/* .app {
  min-height: 98vh;
  border: 8px solid #39445a93;
  margin: 5px;
  padding: 5px;
} */
/* .main-container{
  display: flex;
  flex-direction: row;
  height: auto;
} */

.welcome-text {
display: flex;
flex-direction: column;
width: 95%;
justify-content: center;
align-items: center;
margin: auto;

}

.welcome-text h2 {
  margin-top: 2rem;
font-family: "Stencil Std, fantasy";
}
.welcome-text p {
font-family: "Apple Chancery, cursive";
padding-right: 2rem;
}
.welcome-wrapper{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 1rem auto;
  text-align: justify;
}
.welcome-text img {
width: 50%;
height: auto;
}

.form-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  background-color: rgb(230, 219, 219);
  border-style: solid;
  border-color: rgb(138, 25, 44);
    
}
.form-head h2{
  font-family:"Arial Black";
  color: brown;
  margin-top: 1rem;
  font-size: smaller;
}

.form-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: auto;

}

.form-input {
  margin-top: 1rem;
  padding: 0.75rem;
}

.login-btn {
  margin: 2rem 1rem 1rem 1rem;
  padding: 0.25rem 1rem;
  border-radius: 7px;
  background-color: rgb(151, 26, 47);
  color: rgb(190, 165, 165);
  font-size: 1.5rem;
  text-decoration: none !important;
  
}

.login-btn:hover {
  background-color: rgb(92, 17, 29);
  color: rgb(255,252,252);
}

.signUp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  border-style: solid;
  border-color: rgb(231, 142, 157);
  box-shadow: rgb(240, 144, 114);
  background-color: rgb(230, 219, 219);
  border-radius: 5%;
}

.signUp-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  
  
}

.signUp-form {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  place-items: center;
  width: 100%;
  margin-top: 2rem;
  
}

.s-input-n {
  width: 60%;
  padding: 1rem;
  font-size: 1.5rem;
}

.sign-up-dropdown {
  margin: 2rem;
}

.select_option {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  background-color: rgb(143, 44, 60);
  color: rgb(230, 219, 219);
}

.signUp-btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: royalblue;
  color: rgb(230, 219, 219);
  border-radius: 5px;
}

.btn-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;

}

.link-home {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  background-color: rgb(199, 163, 97);
  color: crimson;
  border-radius: 5px;
}

.login-btn-wrapper {
  margin: 2rem 0;
  border-style: none !important;
}
.login-info {
font-size: larger;
font-weight: bold;
}

.login-link {
font-size:small;
font-weight: bold;
padding: 0.5rem 1rem;
}