.content {
    height: 90vh;
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
}

.settings {
    width: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "poppins", sans-serif;
    font-weight: 300;
}
.quiz-img {
    width: 150px;
    height: 150px;
    margin-top: 5rem;
   }

@media (max-width: 800px){
    .content {
        flex-direction: column-reverse;
        align-items: center;
    }
    .quiz-img {
        width: 85%;
        padding: 0;
        padding-top: 20px;
    }
    .settings {
        width: 100%;
    }
}

.settings_select {
 display: flex;
    flex-direction: column;
    padding: 20px;
width: 100%;
flex: 0.8;
justify-content: space;

}
